@model List<string>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    TodoList
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 



<div class="container">
    <h2>TodoList</h2>
    <h3>ID: @TempData["UserIdValue1"] (구경하기)</h3>
    <h4>@TempData["UserIdValue1"]</h4>
    <div>
    <p>User ID: @TempData["UserIdValue1"]</p>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-append">
            </div>
        </div>
    </div>

    <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                @for (int i = 0; i < Model.Count; i++)
                {

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>@Model[i]</span>
                    </li>
                }
            }
            else
            {
                    <li class="list-group-item">내용 없음</li>
            }
    </ul>
</div>
</asp:Content>
